<h1>Welcome#index</h1>

<% @tweets.each do |tweet| %>

<%= tweet.hashtags %>

<% end %>

<p><a href="/admin">Admin</a></p>

<%= debug ENV.to_h.to_yaml %>

<%= Rails.application.secrets.secret_key_base %>
