// orange theme sample
$brand-primary: #d51;
$navbar-brand: #d51;
$navbar-collapse: #d51;
$brand-info: #ea2;
$link-color: #800;
$nav-pills-active-link-hover-bg: #d51;
$btn-primary-bg: #d51;
$btn-primary-border: #da0;
$btn-info-bg: #fa4;
$btn-info-border: #da0;
$fg-nav-tabs-active: #fb1;

//$brand-info:            #2FA4E7;  // default $brand-primary
$brand-success:         #757575;
//$brand-primary:         #033C73;  // default $brand-info
//$brand-warning:         #DD5600;
$brand-danger:          #03A9F4;

$link-color:          #E64A19;
