<div class="admin-slate box-left">
  <h3>Tweets</h3>
  <ul>
    <li><b>Account name</b> XXXX tweets. <span style="color:#FF0033;">Last updated: date</span></li>
    <li>Account name - XXXX -- updated date</li>
    <li>Account name - XXXX -- updated date</li>
    <li class="action input-action">
      <input type="submit" name="" value="Add new tweets" data-disable-with="Add new tweets">
    </li>
    <li><a href="">See all Tweets</a></li>
  </ul>
</div>

<div class="admin-slate box-right">
  <h3>Instagram</h3>
  <ul>
    <li>Profile name - XXXX -- update date</li>
    <li>Profile name - XXXX -- update date</li>
    <li>Profile name - XXXX -- update date</li>
    <li class="action input-action">
      <input type="submit" name="" value="Add new instagram" data-disable-with="Add new instagram">
    </li>
    <li><a href="">See all Instagram posts</a></li>
  </ul>
</div>
