// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.admin-container {
  width: 100%;
  float: left;
}

.admin-slate {
  width: 40%;
  padding: 0 0 24px !important;
  margin: 0 !important;
  font-size: 120%;
  text-align: left;

  h3 {
    background-color: #CC3399;
    padding: 12px 0 12px 0;
    text-align: center;
    color: #fff;
  }

}

.box-left,
.box-right {
  float: left;
  border: 1px solid #CC3399; /*993366;*/
}
.box-right {
  float: right;
}

.box-left ul,
.box-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 12px 18px;
}

a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {

/*input[type=submit],
input[type=button],
button,
a.button,
a:link.button,
a:visited.button {*/
  background-color: #CCC !important;
  color: #CC3399 !important;
  /*border: none !important;*/
  border-radius: 6px !important;
  border-color: #CC3399 !important;
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
